<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <!-- Default form login -->
      <form class="text-center border border-light p-5" action="#!">

        <p class="h4 mb-3">Ajouter Medicament</p>
        <!-- Nom -->
        <input type="text" id="defaultRegisterFormMatricule" class="form-control mb-3" placeholder="Nom">

        <!-- Prix -->
        <input type="number" id="defaultRegisterFormNom" class="form-control mb-3" placeholder="Prix">

        <!-- category -->
        <input type="email" id="defaultRegisterFormGerant" class="form-control mb-3" placeholder="Category">

        <!-- quantité -->
        <input type="number" id="defaultLoginFormAdresse" class="form-control mb-3" placeholder="quantité">

        <!-- Sign in button -->
        <input class="btn btn-info btn-block my-4" type="submit" value="Valider">

      </form>
      <!-- Default form login -->

      <div class="">
        {{this.sum}}
      </div>
    </div>
  </div>
</div>
