<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 mb-3">
      <p class="h2 text-center">Dashboard</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-3 mb-2 ">
      <div class="card bg-primary text-white">
        <div class="card-body text-center">
          <h4 class="card-title">Calculatrice</h4>
          <p class="card-text">
            Acceder aux formulaires
          </p>
          <a href="/Operation" class="btn btn-dark">Calculer</a>
        </div>
      </div>

    </div>

    <div class="col-12 col-md-3 mb-2 ">
      <div class="card bg-warning text-white">
        <div class="card-body text-center">
          <h4 class="card-title">Localisation</h4>
          <p class="card-text">
            Afficher localisation
          </p>
          <a routerLink="/Localisation" routerLinkActive="active" class="btn btn-dark">Localiser</a>
        </div>
      </div>

    </div>

    <div class="col-12 col-md-3 mb-2">
      <div class="card bg-danger text-center">
        <div class="card-body text-white">
          <h4 class="card-title">Ajouter</h4>
          <div class="card-text">
            <p>Ajouter des medicaments</p>
          </div>
          <a routerLink="/AjoutMedicament" class="btn btn-dark">Ajouter</a>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-3 mb-2">
      <div class="card bg-success text-center">
        <div class="card-body text-white">
          <h4 class="card-title">Fiche</h4>
          <div class="card-text">
            <p>Pharmacie</p>

          </div>
          <a routerLink="/AjoutPharmacie"  class="btn btn-dark">Consulter</a>
        </div>
      </div>

    </div>
  </div>
</div>
